<section id='skills'>
  <div class='container'>
    <div class='row skills'>
      <div class='col-sm-6 col-md-3 text-center'>
        <span class='chart' data-percent='82' title='Base on Upwork Profile'>
          <span class='percent'>82</span>
        </span>
        <h2 class='text-center'>Ruby on Rails</h2>
      </div>

      <div class='col-sm-6 col-md-3 text-center'>
        <span class='chart' data-percent='70'><span class='percent'>70</span></span>
        <h2 class='text-center'>AngularJS</h2>
      </div>

      <div class='col-sm-6 col-md-3 text-center'>
        <span class='chart' data-percent='90'><span class='percent'>90</span></span>
        <h2 class='text-center'>WordPress</h2>
      </div>

      <div class='col-sm-6 col-md-3 text-center'>
        <span class='chart' data-percent='86' title='Base on Upwork Profile'>
          <span class='percent'>86</span>
        </span>
        <h2 class='text-center'>Web Design</h2>
      </div>
    </div>

    <div class='row skills'>
      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Platform, Development / Deployment OS </h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Linux" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('1') %>">Linux</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="CentOS" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('2') %>">CentOS</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Amazone Linux" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('3') %>">Amazone Linux</a>
      </div>
      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Language & Framework </h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Ruby" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('4') %>">Ruby</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Rails" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('5') %>">Rails</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="HTML / HAML" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('6') %>">HTML / HAML</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="AngularJS" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('7') %>">AngularJS</a>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>JavaScript / CSS </h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="JQuery" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('8') %>">JQuery</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="JavaScript" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('9') %>">JavaScript</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Ajax" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('10') %>">Ajax</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Bootstrap" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('11') %>">Bootstrap</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="CSS" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('26') %>">CSS</a>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Database</h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="MySQL" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('12') %>">MySQL</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="PostgreSQL" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('13') %>">PostgreSQL</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="SQLite" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('14') %>">SQLite</a>
      </div>
      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Payment Gateway</h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Stripe" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('15') %>">Stripe</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Paypal" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('16') %>">Paypal</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Authorize.net" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('17') %>">Authorize.net</a>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Web Deployment / Web Environment</h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Heroku" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('18') %>">Heroku</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="AWS Environment" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('19') %>">AWS</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Digital Ocean" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('20') %>">Digital Ocean</a>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Integration</h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Third Party API" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('21') %>">Third Party API</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Social Media" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('22') %>">Social Media</a>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Testing</h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="RSpec" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('23') %>">RSpec</a>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Cucumber" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('24') %>">Cucumber</a>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Version Control System</h4>
        <a href="javascript:void(0);" class='btn btn-pill btn-info button' title="Git" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= get_popover_content('25') %>">Git</a>
      </div>

    </div>
    <div class='clearfix extraSpace'></div>
  </div>
</section>
