<section id='skills'>
  <div class='container'>
    <div class='row skills'>
      <div class='col-sm-6 col-md-3 text-center'>
        <span class='chart' data-percent='82' title='Base on Upwork Profile'>
          <span class='percent'>82</span>
        </span>
        <h2 class='text-center'>Ruby on Rails</h2>
      </div>

      <div class='col-sm-6 col-md-3 text-center'>
        <span class='chart' data-percent='70'><span class='percent'>70</span></span>
        <h2 class='text-center'>AngularJS</h2>
      </div>

      <div class='col-sm-6 col-md-3 text-center'>
        <span class='chart' data-percent='90'><span class='percent'>90</span></span>
        <h2 class='text-center'>WordPress</h2>
      </div>

      <div class='col-sm-6 col-md-3 text-center'>
        <span class='chart' data-percent='86' title='Base on Upwork Profile'>
          <span class='percent'>86</span>
        </span>
        <h2 class='text-center'>Web Design</h2>
      </div>
    </div>

    <div class='row skills'>
      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Platform, Development / Deployment OS </h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Linux' data-content='<%= get_popover_content('1') %>' data-placement='top'>Linux</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='CentOS' data-content='<%= get_popover_content('2') %>' data-placement='top'>CentOS</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Amazone Linux' data-content='<%= get_popover_content('3') %>' data-placement='top'>Amazone Linux</button>
      </div>
      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Language & Framework </h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Ruby' data-content='<%= get_popover_content('4') %>' data-placement='top'>Ruby</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Rails' data-content='<%= get_popover_content('5') %>' data-placement='top'>Rails</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='HTML / HAML' data-content='<%= get_popover_content('6') %>' data-placement='top'>HTML / HAML</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='AngularJS' data-content='<%= get_popover_content('7') %>' data-placement='top'>AngularJS</button>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>JavaScript / CSS </h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='JQuery' data-content='<%= get_popover_content('8') %>' data-placement='top'>JQuery</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='JavaScript' data-content='<%= get_popover_content('9') %>' data-placement='top'>JavaScript</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Ajax' data-content='<%= get_popover_content('10') %>' data-placement='top'>Ajax</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Bootstrap' data-content='<%= get_popover_content('11') %>' data-placement='top'>Bootstrap</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='CSS' data-content='<%= get_popover_content('26') %>' data-placement='top'>CSS</button>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Database</h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='MySQL' data-content='<%= get_popover_content('12') %>' data-placement='top'>MySQL</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='PostgreSQL' data-content='<%= get_popover_content('13') %>' data-placement='top'>PostgreSQL</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='SQLite' data-content='<%= get_popover_content('14') %>' data-placement='top'>SQLite</button>
      </div>
      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Payment Gateway</h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Stripe' data-content='<%= get_popover_content('15') %>' data-placement='top'>Stripe</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Paypal' data-content='<%= get_popover_content('16') %>' data-placement='top'>Paypal</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Authorize.net' data-content='<%= get_popover_content('17') %>' data-placement='top'>Authorize.net</button>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Web Deployment / Web Environment</h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Heroku' data-content='<%= get_popover_content('18') %>' data-placement='top'>Heroku</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='AWS Environment' data-content='<%= get_popover_content('19') %>' data-placement='top'>AWS</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Digital Ocean' data-content='<%= get_popover_content('20') %>' data-placement='top'>Digital Ocean</button>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Integration</h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Third Party API' data-content='<%= get_popover_content('21') %>' data-placement='top'>Third Party API</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Social Media' data-content='<%= get_popover_content('22') %>' data-placement='top'>Social Media</button>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Testing</h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Rspec' data-content='<%= get_popover_content('23') %>' data-placement='top'>Rspec</button>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Cucumber' data-content='<%= get_popover_content('24') %>' data-placement='top'>Cucumber</button>
      </div>

      <div class='col-sm-6 col-md-4 text-center'>
        <h4 class='skfont'>Version Control System</h4>
        <button type='button' class='btn btn-pill btn-info' data-toggle='popover' title='Git' data-content='<%= get_popover_content('25') %>' data-placement='top'>Git</button>
      </div>

    </div>
    <div class='clearfix extraSpace'></div>
  </div>
</section>
